<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/stylesheets/TS-favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ Technically Speaking }</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="left">
                <a class="nav-link" href="/">Home</a>
                {{#if loggedIn}}
                <a class="nav-link" href="/dashboard">Dashboard</a>
                {{else}}
                <a class="nav-link" href="/login">Dashboard</a>
                {{/if}}
            </div>
            <div class="right">
                {{#if loggedIn}}
                <button id="logout" class="btn-logout">Logout</button>
                {{else}}
                <a class="nav-link" href="/login">Login</a> 
                {{/if}}
            </div>
        </nav>
        <h1 class="page-title">{ Technically Speaking }</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>Hope you enjoy the content!</footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>