<section class="create-a-post">
    <h3>Create a Post</h3>
    <form class="new-post-form">
        <div class="inputs">
            <label for="new-post-title">Title</label>
            <input type="text" name="new-post-title" id="new-post-title">
        </div>
        <div class="inputs">
            <label for="new-post-body">About</label>
            <textarea id="new-post-body" name="new-post-body" cols="30" rows="10"></textarea>
        </div>
        <div class="inputs">
            <label for="new-post-url">Link</label>
            <input type="text" name="new-post-url" id="new-post-url">
        </div>
        <div>
            <button type="submit" class="create-post-btn">CREATE</button>
        </div>
    </form>
</section>


<script src="/js/create-post.js"></script>