<form class="login-form">
    <h2>Login</h2>
        <div class="inputs">
            <label for="login-email">email:</label>
            <input type="text" id="login-email"/>
        </div>
        <div class="inputs">
            <label for="login-password">password:</label>
            <input type="password" id="login-password"/>
        </div>
        <div>
            <button type="submit" class="login-btn">LOGIN</button>
        </div>
    </form>
    <form class="signup-form">
        <h2>Sign Up</h2>
        <div class="inputs">
            <label for="username">username:</label>
            <input type="text" id="username"/>
        </div>
        <div class="inputs">
            <label for="signup-email">email:</label>
            <input type="text" id="signup-email"/>
        </div>
        <div class="inputs">
            <label for="signup-password">password:</label>
            <input type="password" id="signup-password"/>
        </div>
        <div>
            <button type="submit" class="signup-btn">SIGN UP</button>
        </div>
    </form>

    <script src="/js/login.js"></script>