* {
    box-sizing: border-box;
}

body {
    background-color: rgb(84, 77, 112);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}

/* Begin Header/navbar module */
.header {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
}

.page-title {
    display: flex;
    justify-content: center;
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
}

.left, .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 40px;
    
}

.nav-link, .btn-logout {
    background-color: rgb(65, 58, 92);
    background: none;
    border: none;
    font-size: 120%;
    padding: 0%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}
/* End Header/navbar module */

/* Begin Post(s) module */
.blog-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post {
    border: solid 5px rgba(0, 0, 0, 0.5);
    margin: 15px 10px;
    width: 55%;
    border-radius: 10px;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.post-title {
    width: 70%;
}

.post-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.title {
    margin-left: 10px;
    font-size: x-large;
    color: rgba(255, 255, 255, 0.5);
    
}

.author-date {
    display: flex;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.post-author-date {
    display: flex;
    align-items: center;
    width: 30%;
}

.body {
    margin: 20px;
    font-size: larger;
}
/* End Post(s) module */

/* Begin Login/Signup module */
.login-form, .signup-form, .update-post, .create-post {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 30em;
    border: solid 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

input {
    border-radius: 5px;
    height: 25px;
    margin: 10px;
}

label {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
/* End Login/Signup module */

/* Button Styling */
.login-btn, .signup-btn, .create-post-btn, .update-post-btn, .delete-post-btn, .comment-post-btn {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    height: 30px;
    text-align: center;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}


/* Begin Create/Update-a-Post module */
.create-a-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.my-posts {
    margin-left: 15px;
}

.update-post-link {
    margin-left: 15px;
    font-weight: bolder;
    text-decoration: none;
    font-size: large;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: solid 5px rgba(0, 0, 0, 0);
}

.delete-post-btn {
    margin-top: 15px;
    margin-left: 15px;
}
/* End Create/Update-a-Post module */

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}