<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technically Speaking</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
    <header class="header">
        <h1 class="page-title">Technically Speaking</h1>
        <nav class="nav-bar">
            <div class="left">
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="right">
                <a href="/login">Login</a>
                <button id="logout" class="btn-logout">Logout</button> 
            </div>
        </nav>
    </header>
    <section class="blog-posts">
        <div class="post">
            <div class="post-header">
                <div class="post-title">
                    <h3 class="title">Post Title</h3>
                </div>
                <div class="post-author-date">
                    <p class="author-date">Posted by Someone on Somedate</p>
                </div>
            </div>
            <div class="post-body">
                <p class="body">Lots of meaningful information!!!</p>
            </div>
        </div>
        <div class="post">
            <div class="post-header">
                <div class="post-title">
                    <h3 class="title">Post Title</h3>
                </div>
                <div class="post-author-date">
                    <p class="author-date">Posted by Someone on Somedate</p>
                </div>
            </div>
            <div class="post-body">
                <p class="body">Lots of meaningful information!!!</p>
            </div>
        </div>
        <div class="post">
            <div class="post-header">
                <div class="post-title">
                    <h3 class="title">Post Title</h3>
                </div>
                <div class="post-author-date">
                    <p class="author-date">Posted by Someone on Somedate</p>
                </div>
            </div>
            <div class="post-body">
                <p class="body">Lots of meaningful information!!!</p>
            </div>
        </div>
    </section>
    <footer>Hope you enjoy the content!</footer>
</body>
</html>